          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '7' %>" class="btn btn-success btn-lg btn-block">                                     
                <h2 class="text-light"> LIMONADA              ____bebidas_____07be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '27' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS / FRUTAS     ____bebidas_____27be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '29' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES/JEREZ/COGNAC  ____bebidas_____29be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '30' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKIES              ____bebidas_____30be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '31' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNE/SIDRA       ____bebidas_____31be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '33' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERITIVOS            ____bebidas_____33be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '34' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> COCKTAILS             ____bebidas_____34be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '35' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICUADOS              ____bebidas_____35be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '37' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CLERICOT              ____bebidas_____37be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '39' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS                 ____bebidas_____39be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
